html {
  background-color: #222831;
  scroll-behavior: smooth;
}

#main-sections {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #222831;
  }
#main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

  #main-txt {
    color: white;
    font-size: 3rem;
    z-index: 100;
    position: absolute;
    top: 49%;
  }


.main-background {
  height: 100%;
  object-fit: cover;
}

  #btn {
    padding:10px 20px 10px 20px;
    background: none;
    color: white;
    border-width: 3px;
    margin: 0px 30px 0px 30px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all .2s ease-in-out;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    width: 100%;
  }
  #btn:hover {
    background-color: #222832;
    box-shadow: 5px 10px 25px black;
  }
  #btn-group{
    position: absolute;
    right: -50px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin:50px;
    height: 100vh;
    width: 25vw;
    z-index: 500;
    background-color: black;
  }

  .mainImage {
      width: 50vw;
      
  }

  .about-paragraph {
    width: 50vw;
    text-align: center;
    margin-top: 50px;
  }

  #about-section {
    height: 80vh;
    margin-top: 80px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  #about {
    margin-top: 80px;
  }

  #resources-title{
    color: white;
    height: 100vh;
    background-color: #222831;
    display: flex;
    justify-content: center;
  }

  .toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: violet;
    border-radius: 10px;
    z-index: 100;
  }

  .back-btn  h4 {
    width: 100px;
    background-color: thistle;
  }


  form {
    display: flex;
    flex-direction: column;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 50px;
  }
  #submit-btn {
    background-color: #11698e;
    color: white;
    width: min-content;
    border-radius: 5px;
    border: none;

  }
#submit-btn:hover {
  background-color: #1c98d1;
}


.tools-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: white;
}

#tool-bkg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#222832;
  color: white;
  width: 40%;
  min-width: 400px;
  height: 50%;
  border-radius: 10px;
}

#input-item {
  width: 60px;
  margin: 10px;
}
.resources-banner {
  background-color: blue;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#resources-nav {
  background-color: #222832;
}
